<div class="fmod-docs-link-wrapper">

### `enum {{name}}` :id={{name}}
{{#if fmod_docs_link}}<a class="fmod-docs-link" href="{{{fmod_docs_link}}}"><img src="/img/link.png" /> FMOD API</a>{{/if}}
</div>